<div class="contact-row">
{%- for i in sidebar %}
  {%- if i.url %}
  <a href="{{ i.url }}" class="contact-item">{% if i.icon %}{% icon i.icon %}{% endif %}{{ i.name }}</a>
  {%- else %}
  <span class="contact-item">{% if i.icon %}{% icon i.icon %}{% endif %}{{ i.name }}</span>
  {%- endif %}
{%- endfor %}
</div>
